/* Global settings */

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
}

p {
  margin: 0;
}

a {
  color: #AAA;
  white-space: nowrap;
}
a:hover {
  color: #666;  
}

/* Layout/containers */

#root {
  display: flex;
  flex: 1;
  overflow: hidden;
  min-width: 300px;
  /* border-right: 1px solid #AAA; */
}
#root > * {
  background-color: darkgrey;
}

/* General classes */

.row {
  display: flex;
  justify-content: space-around;
}
.row > * {
  margin: 0 8px;
}

.flex-multiline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.layout-column {
  display: flex;
  flex-direction: column;
}
.layout-column > header, .layout-column > footer {
  padding: 24px 16px;
}
.layout-column > header {
  border-bottom: 1px solid #AAA;
}
.layout-column > main {
  display: flex;
  flex: 1;
}
.layout-column > footer {
  border-top: 1px solid #AAA;
  color: #AAA;
}

.fancy-title {
  display: inline-block;

  font-weight: normal;
  font-size: 2.5rem;

  /* Fancy cursive title with gradient */
  color: #e584fc;
  font-family: 'Lobster', cursive;
}
@supports (-webkit-background-clip: text) or (background-clip: text) {  
  .fancy-title {
    background: linear-gradient(to right, #88d1ff, #e584fc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.subtitle {
  font-size: 24px;
  font-style: italic;
  color: #AAA;
}

.iframe-container {
  padding: 0;
  flex-direction: column;
}
.iframe-container iframe {
  border: 0;
  display: flex;
  flex: 1;
}

/* Console styling */

.qs_main {
  position: static;
  box-shadow: none;
  width: 100%;
}