/* Global settings */

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster Regular'), local('Lobster-Regular'), url(lib/Lobster.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
}

p {
  margin: 0;
}

a {
  color: #AAA;
  white-space: nowrap;
}
a:hover {
  color: #666;  
}

/* Layout/containers */

#root {
  display: flex;
  flex: 1;
  overflow: hidden;
  min-width: 300px;
  /* border-right: 1px solid #AAA; */
}
#root > * {
  background-color: darkgrey;
}

/* General classes */

.row {
  display: flex;
  justify-content: space-around;
}
.row > * {
  margin: 0 8px;
}

.flex-multiline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.layout-column {
  display: flex;
  flex-direction: column;
}
.layout-column > header, .layout-column > footer {
  padding: 24px 16px;
}
.layout-column > header {
  border-bottom: 1px solid #AAA;
}
.layout-column > main {
  display: flex;
  flex: 1;
}
.layout-column > footer {
  border-top: 1px solid #AAA;
  color: #AAA;
}

.fancy-title {
  display: inline-block;

  font-weight: normal;
  font-size: 2.5rem;

  /* Fancy cursive title with gradient */
  color: #e584fc;
  font-family: 'Lobster', cursive;
}
@supports (-webkit-background-clip: text) or (background-clip: text) {  
  .fancy-title {
    background: linear-gradient(to right, #88d1ff, #e584fc);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.subtitle {
  font-size: 24px;
  font-style: italic;
  color: #AAA;
}

.iframe-container {
  padding: 0;
  flex-direction: column;
}
.iframe-container iframe {
  border: 0;
  display: flex;
  flex: 1;
}

/* Override controls styling (partly borrowed from https://github.com/liabru/dat-gui-light-theme) */

.dg.main {
  width: 100%;
}
.dg.main.taller-than-window .close-button {
  border-top: 1px solid #ddd;
}
.dg.main .close-button {
  background-color: #e8e8e8;
}
.dg.main .close-button:hover {
  background-color: #ddd;
}
.dg {
  color: #555;
  text-shadow: none !important;
}
.dg.main::-webkit-scrollbar {
  background: #fafafa;
}
.dg.main::-webkit-scrollbar-thumb {
  background: #bbb;
}
.dg li:not(.folder) {
  background: #fafafa;
  border-bottom: 1px solid #ddd;
}
.dg li.save-row .button {
  text-shadow: none !important;
}
.dg li.title {
  background: #e8e8e8 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
}
.dg .cr.function:hover, .dg .cr.boolean:hover {
  background: #fff;
}
.dg .c input[type=text] {
  background: #e9e9e9;
}
.dg .c input[type=text]:hover {
  background: #eee;
}
.dg .c input[type=text]:focus {
  background: #eee;
  color: #555;
}
.dg .c .slider {
  background: #e9e9e9;
}
.dg .c .slider:hover {
  background: #eee;
}
.dg li.save-row .button, .dg li.save-row .button.gears {
  background-color: #bbb;
  /* box-shadow: none; */
}