/* Global settings */

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: local('Lobster Regular'), local('Lobster-Regular'), url(lib/Lobster.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
}

p {
  margin: 0;
}

a {
  color: #AAA;
  white-space: nowrap;
}
a:hover {
  color: #666;  
}

/* Layout/containers */

#root {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* min-width: 300px; */
  background-color: #a9a9a9;
  border-right: 1px solid #AAA;
}

/* General classes */

.row {
  display: flex;
  justify-content: space-around;
}
.row > * {
  margin: 0 8px;
}

.flex-multiline {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
@media (max-width: 900px) {
  .flex-row {
    flex-direction: column;
    flex-flow: column-reverse;
  }
}

.layout-column {
  display: flex;
  flex-direction: column;
}
.layout-column > header, .layout-column > footer {
  padding: 24px 16px;
}
.layout-column > header {
  border-bottom: 1px solid #AAA;
}
.layout-column > main {
  display: flex;
  flex: 1;
}
.layout-column > footer {
  border-top: 1px solid #AAA;
  color: #AAA;
}

.fancy-title {
  display: inline-block;

  font-weight: normal;
  font-size: 2.5rem;

  /* Fancy cursive title with gradient */
  color: #e584fc;
  font-family: 'Lobster', cursive;
}
@supports (-webkit-background-clip: text) or (background-clip: text) {  
  .fancy-title {
    background: linear-gradient(to right, #88d1ff, #e584fc);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}

.subtitle {
  font-size: 24px;
  font-style: italic;
  color: #AAA;
}

.iframe-container {
  padding: 0;
  flex-direction: column;
}
.iframe-container iframe {
  border: 0;
  display: flex;
  flex: 1;
  background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100% 100%"><text fill="%23BBBBBB" x="50%" y="50%" font-family="\'Lucida Grande\', sans-serif" font-size="24" text-anchor="middle">Loading...</text></svg>') 0px 0px no-repeat;
}

/* dat.GUI styling */
.dg.main {
  width: 100%;
}
